<div>
    <button (click)="arrancarTemporizador($event)" style="{{ arrancado ? rojo : verde }}">Arrancar</button>
    &nbsp;
    <button (click)="arrancarTemporizador($event)" [style]="colorStart">Arrancar</button>
    &nbsp;
    <button (click)="reiniciarTemporizador()" style="{{colorStop}}">Reiniciar</button>
</div>
<div>
    <input type="number" placeholder="Minutos" [(ngModel)]="minutos">
    <select (change)="seleccionarTiempo($event)">
        <option value="5">5 minutos</option>
        <option value="10">10 minutos</option>
        <option value="15">15 minutos</option>
        <option value="20">20 minutos</option>
    </select>
</div>
<div>{{minutos}}:{{segundos}}</div>
