div {
    font-size:5em;
    width: 100%;
    text-align: center;
    background-color: burlywood;
}
button {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(89, 89, 89);
    color:white;
    font-size: 0.25em;
}